$prefix-diameter: 30px;

.list-group {
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin-bottom: 1rem;

  &.icon-list {
    margin-left: $prefix-diameter / 2;
    margin-top: 10px;
    border-left: 1px solid $gray-400;

    li {
      margin-bottom: .7rem;
    }
  }

  li {
    position: relative;
    align-items: center;
    margin-bottom: .2rem;
    font-weight: 600;
    font-size: .9rem;

    span, p {
      font-weight: normal;
      margin: 0;
      line-height: 1.25rem;
    }

    .accent {
      float: right;
      font-style: italic;
      color: $gray-600;
      font-size: .9rem;
    }

    &.item-prefixed {
      padding-left: ($prefix-diameter / 2) + 5px;
      padding-bottom: 5px;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .list-item-prefix {
      width: $prefix-diameter;
      height: $prefix-diameter;
      border-radius: 50%;
      display: flex;
      align-items: center;
      position: absolute;
      left: -($prefix-diameter / 2);
      color: #fff;

      & > * {
        margin: 0 auto;
      }

      &.blue {
        background: $info;
      }
      &.pink {
        background: $pink;
      }
      &.yellow {
        background: $yellow;
      }
      &.green {
        background: $green;
      }
    }
  }
}
